<html>

<head>
    <title>sMessaging</title>
    <script type="text/javascript" src="/node_modules/angular/angular.js"></script>
    <script type="text/javascript" src="/node_modules/angular-material/angular-material.js"></script>
    <script type="text/javascript" src="/node_modules/angular-animate/angular-animate.js"></script>
    <script type="text/javascript" src="/node_modules/angular-aria/angular-aria.js"></script>
    <script type="text/javascript" src="/node_modules/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="/node_modules/bootstrap/dist/js/bootstrap.js"></script>

    <link rel="stylesheet" type="text/css" href="/node_modules/angular-material/angular-material.css">
    <link rel="stylesheet" type="text/css" href="/node_modules/bootstrap/dist/css/bootstrap.css">

    <script type="text/javascript" src="/view/directives/flow/flow.js"></script>
    <script type="text/javascript" src="/view/directives/cell/cell.js"></script>
    <script type="text/javascript" src="/view/directives/ngRightClick/ngRightClick.js"></script>

    <link rel="stylesheet" type="text/css" href="/view/directives/cell/cell.css">
</head>

<body ng-app="sMs" ng-controller="sMsCtrl">
    <script type="text/javascript" src="/view/app.js"></script>
    <cell></cell>
</body>

</html>